.wrapper{
    display: flex;
    @media only screen and (max-width: 1080px) {
        display: block;
    }
    main {
        flex: 1;
        @media only screen and (max-width: 1080px) {
            width: 100vw;
            overflow-y: overlay;
        }
    }
}